@import url('http://fonts.googleapis.com/css?family=Chau+Philomene+One');

body {
    background: #efe;
    color: #000;
    font-family: 
}

h1 {
    font-family: 'Chau Philomene One', sans-serif;
    margin: 1em;
    padding: 0;
    text-align: right;
}

a {
    color: #0d0;
}

a:hover {
    color: #3d3;
    text-decoration: underline;
}

#container {
    width: 780px;
    margin: 20px auto;
    background: #fff;
    border: #9d9 1px solid;
}

#available-fields {
    position: fixed;
    margin-left: -200px;
    width: 200px;
    background: #ded;
}

#edited-form .information, #fields > div {
    padding: 1.5em 20px;
}

#edited-form .header {
    display: block;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#edited-form .description {
    display: block;
    width: 100%;
    height: 8em;
    margin-bottom: 2em;
    resize: none;
}

#fields > div {
    border: #eee solid;
    border-width: 1px 0 0 0;
}

#fields > div:hover {
    background: #fee;
}

#fields label {
    width: 10em;
    float: left;
}

#fields label:after {
    content: ':';
}

#fields input {
    width: 30em;
}
